a, blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul,button{
    margin: 0;
    padding: 0;
}
i,em{
    margin: 0;
    padding: 0;
}
input, button{
    border: 0;
    outline: none; /*取消轮廓边框 */
}
.w{
    /* 小说版心 */
    width: 1200px;
    margin: 0 auto;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #262626;
    outline: 0;
}

/* 字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
  }

header{
    height: 85px;
    background-color: #fff;
    
}
.header{
    height: 85px;
    padding-top:20px;
    position: relative;
    
}
.logo{
    width: 218px;
    height: 55px;
    position: absolute;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    /* background: url(../images/logo.beebc.png) no-repeat; */
}
.logo a em{
   width: 80px;
   height: 55px;
   font-family: "iconfont";
   font-style: normal;
   font-size: 60px;
   color: #bf2c24;
   float: left;
}
.logo a h2{
    
    width: 138px;
    height: 30px;  
    float: left;
    font-size: 22px;
    color: #bf2c24;
}
.logo a p{
    width: 138px;
    height: 30px;
    float: left;
    font-size: 15px;
    color: #bf2c24;
}
/* 登录 */
.login{
    float: left;
    position: absolute;
    right: 1px;
   margin-top: -10px;
    
}
.login em{
    font-family: "iconfont" !important;
      font-size: 50px;
      font-style: normal;
      color:#bf2c24;
    }
    .form{
        width: 390px;
        height: 40px;
        position: absolute;
        left: 400px;
    }
    .form input{
        float: left;
        height: 38px;
        width: 335px;
        color: #1d1c1c;
        background-color: #fff;
        border: 1px solid #bf2c24;
        font-size: 16px;
        padding-left: 10px;
        border-radius:25px;
    }
    
    .form button{
        float: left;       
        height: 40px;
        width: 40px;
        background-color: #bf2c24;
        border-radius:25px;
        position: absolute;
        left: 306px;
        
    }
    
    .form button :hover{
        background-color: #fc061a;
        border-radius:25px;
    }
    .form button i{
        font-family: "iconfont"; /* 使用字体 */
        font-style: normal;   /*不倾斜 */
        font-size: 16px; 
        line-height: 40px;
        display: block;
        color: #fff;
    }
  
    .my-book
    {
        float: right;
        width: 120px;
        height: 40px;
        border: 1px solid #bf2c24;
        background-clip: #ffffff;
        position: absolute;
        right: 70px;
    }
    
    .my-book a{
        display: block;
        padding-left: 15px;
        line-height:40px;
        color: #262626;  
       
    }
    .my-book :hover{
       background-color: #bf2c24;
    }
    .my-book i{
        font-style: normal;
        margin-left: 5px;
             
    }
    .my-book em{ 
        font-family: "iconfont"; /* 使用字体 */
        font-style: normal;   /*不倾斜 */
        font-size: 16px;
        color: #bf2c24;
    }