
.PersonalCenter-region{
    display: -webkit-flex;
    display: flex;
    width: 1200px;
     height: 560px;
    margin:  auto;
    background-color:cornsilk;
    
}
.PersonalCenter-function{
width: 320px;
height: 520px;
background-color: cyan;
margin:20px 20px 20px 20px ;
text-decoration:none;

}
.PersonalCenter-function h6{
    font-family: "iconfont";
    
    font-size: 20px;
    color:dimgray;
    margin-top: 20px;
    height: 20px;
}
.jge{
    width: 320px;
    height: 280px;
    /* background-color: dodgerblue; */
    letter-spacing:2px;
    margin-top: 20px;
}
    
.PersonalCenter-function a{
    
    text-decoration:none;
}
.PersonalCenter-function h6:hover{
    color: red;
}
.PersonalCenter-display{
    width: 760px;
height: 520px;
background-color: cornsilk;
margin:20px 20px 20px 20px ;
}
.PersonalCenter-DisplayBooks{
    width: 720px;
    height: 50px;
    background-color: cornsilk;
    margin:20px 20px 20px 20px ;
}
.PersonalCenter-DisplayBooks h4{
    float:left;
}
.PersonalCenter-DisplayBooks a{
    text-decoration: none;
    float:right;
}
.PersonalCenter-DisplayBooks a:hover{
    color: red;
}
.PersonalCenter-DisplayBooks-as{
    border-style:solid;
	border-width:0.5px;
    width: 720px;
    height: 330px;
    background-color:cornsilk;
    margin:20px 20px 20px 20px ;
   
}
.PersonalCenter-DisplayBooks-transparent{
    padding:130px;
    text-align: center;
}
.PersonalCenter-DisplayBooks-ad{
    width: 720px;
    height: 60px;
    background-color: cornsilk;
    margin:20px 20px 20px 20px ;
}
.PersonalCenter-DisplayBooks-ad a{
    margin:20px;
}
.PersonalCenter-DisplayBooks-ad a:hover{
    text-decoration: none;
    color: red;
}
.my-inf{
    display: block;
    margin: auto;
   width: 320px;
   height: 200px;
   background-color: darkgoldenrod;
}
.my-inf img {
    display: block;
    margin: 0 auto;
}
.my-inf p{
    margin: 0pc;
    text-align: center;
    size: 12px;
}
.my-inf a{
    text-decoration:none;
}